<%- include('../partials/head.ejs') %>
<form action="/admin/add-match" method="post">
    <input name="player1"  class="place-content-center items-center" placeholder="player1">
    <input name="player2"  class="place-content-center items-center" placeholder="player2">
    <input type="datetime-local" name="maxDate" class="place-content-center items-center" placeholder="Max date"> 
    <button type="submit">Submit</button>
</form>
<div class="flex justify-center">
    <div class="flex-col">
        <% matches.forEach(match => { %>
            <%- include('../partials/adm_match.ejs', {match: match}) %>
        <% }); %>
    </div>
</div>