<%- include('../partials/head.ejs') %>  
<title>ČESKOLIPSKÁ ESPORTS</title>
<meta name="description" content="Pořádáme turnaje v e-sportech hlavně pro studenty. Právě se odehrává turnaj v Clash Royale!">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="w-full flex flex-col items-center">
        <div class="w-full sm:w-7/12 flex flex-col space-y-7">
            <p class="t1 mt-12 text-center">Českolipská E-sports</p>
            <p class="t2">Českolipská Esports je skupina nynějších a bývalých studentů z gymnázia Českolipská, kteří pořádají ve volném čase turnaje v e-sportech pro nejen studenty. Většinu zápasů vysíláme na streamovací platformě Twitch. Veškerá komunikace probíhá přes platformu Discord. Máme dokonce vlastní servery, na kterých běží všemožné aplikace včetně těch naší výroby.</p>
            <p class="t2" >Cílem je dát lidem možnost zahrát si s kamarády v jednom týmu proti ostatním hráčům o různé hodnotné ceny, simulovat zážitek z E-sportu a dát lidem možnost seznámit se s ostatními a porovnat svoje schopnosti nebo se i něco přiučit. Z celého dění se snažíme přinést podívanou a zážitek i lidem, kteří nehráli.</p>
        </div>
    </div>
</body>
<body class="flex flex-col h-screen bg-white min-h-full">