<%- include('../partials/head.ejs') %>  
<title>ČESKOLIPSKÁ ESPORTS</title>
<meta name="description" content="Pořádáme turnaje v e-sportech hlavně pro studenty. Právě se odehrává turnaj v Clash Royale!">
</head>

<body>
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    
</body>
<%- include('../partials/footer_abosolute.ejs') %>