<%- include('../partials/head.ejs') %>  
<title>ČESKOLIPSKÁ ESPORTS</title>
<meta name="description" content="Pořádáme turnaje v e-sportech hlavně pro studenty. Právě se odehrává turnaj v Clash Royale!">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <div class="overflow-hidden h-full">
        <%- include('../partials/home_navbar.ejs', {user: user}) %>
        <div class="flex w-full justify-center mt-12">
            <div class="flex flex-col w-full sm:w-5/12">
                <p class="t1">O aplikaci</p>
                <p class="t2">Tuto aplikaci vyvinul a udržuje</p>
                <p class="t3"> <a class="link" href="https://github.com/merole">Erik Sabol</a> z <a class="link "href="https://www.ceskolipska.cz/">Gymnázia, Praha 9, Českolipská 373</a></p>
                <p class="t2">Správce systému</p>
                <p class="t3">Veškeré připomínky k chodu systému a nápady na další rozvoj prosím posílejte e-mailem na <a class="link" href="mailto:ceskolipska666@gmail.com">ceskolipska666@gmail.com</a>.</p>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>