<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col items-center justify-center">
        <div class="text-center text-[40px] font-extrabold my-5 w-7/12">ČESKOLIPSKÁ ESPORTS</div>
        <br>
        <div class="flex text-center w-7/12">Českolipská Esports je skupina nynějších a bývalých studentů z gymnázia Českolipská, kteří
            pořádají ve volném čase turnaje v e-sportech pro nejen studenty. Většinu zápasů vysíláme na
            streamovací platformě Twitch. Veškerá komunikace probíhá přes platformu Discord. Máme dokonce
            vlastní servery, na kterých běží všemožné aplikace včetně těch naší výroby.</div>
    </div>
    <div class="flex relative bg-white items-center justify-center">
        <div class="grid grid-cols-2 w-9/12 self-center bg-slate-50">
            <div class="col-span-1 mt-5 bg-opacity-50 border border-gray-100 rounded shadow-lg cursor-pointer bg-gradient-to-b from-gray-200 backdrop-blur-20 to-gray-50  ">
                <div class="flex flex-row px-2 py-3 mx-3">
                    <!-- TODO domyslet co napsat do karet, (pocet tymu, ceny, zapasy, link na registrace)-->
                    <div class="flex flex-col mt-1 mb-2 ml-4">
                        <div class="text-sm text-gray-600">Valorant turnaj</div>
                        <div class="flex w-full mt-1">
                            <div class="mr-1 text-xs text-blue-700 cursor-pointer font-base">
                                New York
                            </div>
                            <div class="text-xs text-gray-600">
                                • By 7th corner
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center px-2 mx-3 my-2 text-sm font-medium text-gray-400">
                    <img class="w-[300px] h-[300px] rounded-full shadow-2xl object-cover" src="https://picsum.photos/200">

                </div>

                <div class="mb-5 border-t border-gray-50">
                    <div class="flex flex-wrap justify-start mx-5 mt-6 text-xs sm:justify-center ">
                        <div class="flex mb-2 mr-4 font-normal text-gray-700 ">Sales:<div class="ml-1 text-gray-500 text-ms"> 30k</div>
                        </div>
                        <div class="flex mb-2 mr-4 font-normal text-gray-700 ">Recipies: <div class="ml-1 text-gray-500 text-ms"> 60k</div>
                        </div>
                        <div class="flex mb-2 mr-4 text-gray-700 ">Customers: <div class="ml-1 text-gray-500 text-ms"> 120k</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-span-1 mt-5 bg-opacity-50 border border-gray-100 rounded shadow-lg cursor-pointer bg-gradient-to-b from-gray-200 backdrop-blur-20 to-gray-50 ">
                <div class="flex flex-row px-2 py-3 mx-3">

                    <div class="flex flex-col mt-1 mb-2 ml-4">
                        <div class="text-sm text-gray-600">Garlic Butter Steak Bites</div>
                        <div class="flex w-full mt-1">
                            <div class="mr-1 text-xs text-blue-700 cursor-pointer font-base">
                                New York
                            </div>
                            <div class="text-xs text-gray-600">
                                • By 7th corner
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-center px-2 mx-3 my-2 text-sm font-medium text-gray-400">
                    <img class="w-[300px] h-[300px] rounded-full shadow-2xl object-cover" src="/images/Valorant_art1.jpg">

                </div>

                <div class="mb-5 border-t border-gray-50">
                    <div class="flex flex-wrap justify-start mx-5 mt-6 text-xs sm:justify-center ">
                        <div class="flex mb-2 mr-4 font-normal text-gray-700 ">Sales:<div class="ml-1 text-gray-500 text-ms"> 30k</div>
                        </div>
                        <div class="flex mb-2 mr-4 font-normal text-gray-700 ">Recipies: <div class="ml-1 text-gray-500 text-ms"> 60k</div>
                        </div>
                        <div class="flex mb-2 mr-4 text-gray-700 ">Customers: <div class="ml-1 text-gray-500 text-ms"> 120k</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>