<%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/home_navbar.ejs', {user: null}) %>
    <div class="w-full bg-grey-500">
      <div class="container mx-auto py-8">
          <div class="w-96 mx-auto bg-white rounded shadow">
              <div class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500 text-center">Přihlášení</div>
              <div class="">
                  <form action="/users/login" method="post" class="flex flex-col place-content-center items-center">
                      <div class="py-2 px-4">
                          <label class="block text-grey-darker text-sm font-bold mb-2">Váš e-mail</label>
                          <input type="email" name="email" id="register_email" class="place-content-center items-center" placeholder="E-mail" >
                      </div>
                      <div class="py-2 px-4">
                          <label class="block text-grey-darker text-sm font-bold mb-2">Vaše heslo</label>
                          <input type="password" name="password" id="register_pass" class="place-content-center items-center" placeholder="Heslo">
                      </div>
                      <div class="py-2 px-4 place-content-center">
                          <button type="submit" id="register button" class="mb-2 mx-16 rounded-full py-1 px-24 text-center font-bold bg-gradient-to-r text-white from-red-600 to-gray-800  hover:from-gray-800 hover:to-red-600">PŘIHLÁSIT</button> <br>
                          <a id="login_instead" class="mb-2 mx-16 rounded-full py-1 px-24" href="/register">Registrovat</a>
                      </div>
                      <div class="py-2 px-4 place-content-center">
                        <% if (messages) { %>
                            <p class="block text-gray-700 bg-red-400 text-sm font-bold mb-2 rounded-full pl-2 pr-2 self-center"> <%= messages %> </p>
                            <% if (messages.includes("Pros")) { %>
                                <a class="text-gray-700 bg-blue-400 text-sm mb-3 hover:text-purple-600 rounded-full pl-2 pr-2 text-center self-center" href="/users/send_again" name="send_again">Poslat e-mail znovu</a>
                            <% } %>
                        <%  } %>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
   </body>
</html>

<%- include('../partials/footer.ejs') %>