    <%- include('../partials/head.ejs') %>  
    <title>Přihlášení</title>
    <meta name="description" content="Přihlášení do Tvého účtu">
    </head>


    <body>
        <div class="overflow-hidden h-full">
            <%- include('../partials/home_navbar.ejs', {user: null}) %>
            <div class="w-full bg-grey-500">
            <div class="container mx-auto py-8">
                <div class="w-96 mx-auto bg-white rounded shadow items-center">
                    <div class="mx-16 py-4 px-8 text-black text-xl font-bold border-b border-grey-500 text-center">Přihlášení</div>
                    <div class="flex flex-col items-center justify-center ">
                        <form action="/users/login" method="post" class="flex flex-col  justify-center items-center">
                            <div class="py-2 px-4">
                                <label class="block text-grey-darker text-sm font-bold mb-2">Tvůj e-mail</label>
                                <input type="email" name="email" id="register_email" class=" justify-center items-center" placeholder="E-mail" >
                            </div>
                            <div class="py-2 px-4">
                                <label class="block text-grey-darker text-sm font-bold mb-2">Tvoje heslo</label>
                                <input type="password" name="password" id="register_pass" class="items-center justify-center" placeholder="Heslo">
                            </div>
                            
                            <div class="flex flex-col px-4 items-center justify-center">
                                <button type="submit" id="register button" class="rounded-full py-1 px-24 mb-2 text-center font-bold bg-gradient-to-r text-white from-red-600 to-gray-800  hover:from-gray-800 hover:to-red-600">Přihlásit</button>
                                <a class="link text-center" href="/register">Registrovat</a>
                                <a class="link text-center" href="/users/reset-password">Zapomněl jsi heslo?</a>
                            </div>
                            <div class="bg-sky-300 rounded-lg py-2 px-4 mb-2 text-base text-blue-800 border border-sky-900 text-center"> Pro dokončení registrace je potřeba potvrdit účet v e-mailu </div>
                            </form>
                            <div class="py-2 px-4 items-center">
                            <% if (locals.messages && locals.messages.length > 0) {locals.messages.forEach(message => { %>
                                <%- include("../partials/messages", {message: locals.message, type: locals.type}) %>
                            <% }); } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<%- include('../partials/footer_always_absolute.ejs') %>