<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles/output.css" rel="stylesheet" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
    </style>
  <body>
    <div id="login" class="">
      <form action="users/api/login" method="post" class="flex flex-col place-content-center items-center">
        <input type="text" name="name" id="login_name" class="place-content-center items-center">
        <input type="text" name="password" id="login_pass" class="place-content-center items-center">
        <button type="submit" id="login_button" name="login_button" class="place-content-center place-items-center">Login</button>
        <button type="button" id="register_instead" name="register_instead" class="place-content-center place-items-center">Register instead</button>
      </form>
    </div>

    <div id="register" class="hidden">
      <form action="users/api/register" method="post" class="flex flex-col place-content-center items-center">
        <input type="text" name="name" id="register_name" class="place-content-center items-center" placeholder="name">
        <input type="text" name="email" id="register_name" class="place-content-center items-center" placeholder="email">
        <input type="text" name="password" id="register_pass" class="place-content-center items-center" placeholder="pass">
        <input type="text" name="password2" id="register_pass_check" class="place-content-center items-center" placeholder="pass2">
        <button type="submit" id="register button" class="place-content-center place-items-center">Register</button>
        <button type="button" id="login_instead" class="place-content-center place-items-center">Login instead</button>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      let socket;


      
      let login_screen = document.getElementById("login");
      let login_name = document.getElementById("login_text");
      let login_pass = document.getElementById("login_pass")
      let login_button = document.getElementById("login_button");
      let register_instead = document.getElementById("register_instead");

      let register_screen = document.getElementById("register");
      let register_text1 = document.getElementById("register_name");
      let register_pass = document.getElementById("register_pass");
      let register_pass1 = document.getElementById("register_pass_chceck");
      let login_instead = document.getElementById("login_instead");

      let home_page = document.getElementById("home_page_usr");

      let screen_visible = (display, page) => {
        if (display) {
          if (page.classList.contains("hidden")) {
            page.classList.remove("hidden");
          }
        } else {
          if (!page.classList.contains("hidden")) {
            page.classList.add("hidden");
          }
        }
      };

      login_button.addEventListener("click", (e) => {
        login();
      });

      register_instead.addEventListener("click", (e) => {
        screen_visible(true, register_screen);
        screen_visible(false, login_screen);
      });

      login_instead.addEventListener("click", (e) => {
        screen_visible(false, register_screen);
        screen_visible(true, login_screen);
      });
      
    </script>
  </body>
</html>
