<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
    </style>
  <body>
    <div id="login" class="flex flex-col place-content-center items-center">
      <input type="text" name="" id="login_name" class="place-content-center items-center" placeholder="Username">
      <input type="text" name="" id="login_pass" class="place-content-center items-center" placeholder="Password">
      <button id="login_button" class="place-content-center place-items-center">Login</button>
      <button id="register_instead" class="place-content-center place-items-center">Register instead</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      let socket;


      
      let login_screen = document.getElementById("login");
      let login_name = document.getElementById("login_text");
      let login_pass = document.getElementById("login_pass")
      let login_button = document.getElementById("login_button");
      let register_instead = document.getElementById("register_instead");


      let screen_visible = (display, page) => {
        if (display) {
          if (page.classList.contains("hidden")) {
            page.classList.remove("hidden");
          }
        } else {
          if (!page.classList.contains("hidden")) {
            page.classList.add("hidden");
          }
        }
      };

      login_button.addEventListener("click", (e) => {
        login();
      });

      register_instead.addEventListener("click", (e) => {

      });

      login_instead.addEventListener("click", (e) => {

      });
      

      let login = () => {
        socket = io();
        
        socket.on("connect", () => {
          console.log(login_text.value + " connected");
        })

        socket.on("login_return", (data) => {
          
        });

        socket.emit("login", {name: login_text.value, pass_hash: login_pass});

      }
    </script>
  </body>
</html>
