<%- include('partials/head.ejs') %>
<!-- sends user if logged in, sends null of not
     TODO implement in index.js
    -->
<%- include('partials/home_navbar.ejs', {user: user}) %>
<% if (!user) { %>
<% } else { %>
<% } %>
    </body>