<%- include('../partials/head.ejs') %>  
<title>Info k turnaji</title>
<meta name="description" content="Informace k Overwatch turnaji">
</head>

<body class="flex flex-col h-full bg-gray-700">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col w-full justify-center items-center">
        <div class="container relative top-0 w-full h-full min-w-full min-h-full overflow-auto text-center">
            <img id="cover_art" src="images/overwatch_art.jpg" alt="Overwatch basic art" class="h-full min-h-[80vh] object-cover brightness-50">
            <div class="absolute top-0 left-0 text-center w-full">
                <div class="text-7xl mt-24 text-gray-200">
                    PŘIHLAŠ SE DNES!!
                </div>
                <div class="text-2xl mt-3 text-gray-200">
                    Přidej se na discord a vyplň přihlášku v #registrace.
                    Klikni zde:
                    <br>
                    <a href="https://discord.gg/9DJNzkCU6Q" class="text-red-600">9DJNzkCU6Q</a>
                </div>
                <div class="text-xl mt-10 text-gray-200">
                    Turnaj bude probíhat od 16. 11. Startovné je 100 kč za tým. <br>
                    Seber všechny svoje 4 kamarády a zahraj si Overwatch o hodnotné ceny a unikátní trofeje. <br>
                    <span class="invisible md:visible">
                    Koukni se i naše předchozí turnaje, z kterých jsou záznamy na Youtube a Twitchi. <br>
                    </span>
                </div>
            </div>
            <div class="flex relative items-center justify-center font-montserrat bottom-0 bg-transparent">
                <div class="grid grid-cols-2 w-full sm:w-9/12 self-center xl:grid-cols-2 justify-items-center py-4">
                    <div class="col-span-1 p-4 rounded-md content-center bg-gradient-to-bl from-cyan-500 to-transparent bg-opacity-10">
                        <a href="https://www.instagram.com/ceskolipska_esports/">
                            <img class="overflow-hidden w-[150px] hover:scale-[1.05] transform transition duration-500" src="/images/instagram.svg">
                            <p class="text-center text-rose-800">Sledujte Výsledky!</p>
                        </a>
                    </div>
                    <div class="col-span-1 p-4 rounded-md content-center bg-gradient-to-tr from-fuchsia-500 to-gray-700 bg-opacity-60">
                        <a href="https://www.twitch.tv/ceskolipskaesports">
                            <img class="overflow-hidden w-[150px] sm:tra hover:scale-[1.05] transform transition duration-500" src="/images/twitch.svg">
                            <p class="text-center text-rose-800">Sledujte live!</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>