<%- include('../partials/head.ejs') %>  
<title>Info k turnaji</title>
<meta name="description" content="Informace k Overwatch turnaji">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col w-full justify-center items-center">
      <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
      <div class="commonninja_component pid-6579729f-3589-42a1-a4f7-833a65d5cf78"></div>>
    </div>
</body>