<%- include('../partials/head.ejs') %>  
<title>Info k turnaji</title>
<meta name="description" content="Informace k Overwatch turnaji">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col w-full justify-center items-center">
      <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
      <div class="commonninja_component pid-e2cdbc6c-cc59-45c2-bce0-53ee4f139b0c"></div>
    </div>
</body>