<%- include('../partials/head.ejs') %>  
<title>Info k turnaji</title>
<meta name="description" content="Informace k Overwatch turnaji">
</head>

<body class="flex flex-col h-screen bg-white min-h-full">
    <%- include('../partials/home_navbar.ejs', {user: user}) %>
    <div class="flex flex-col w-full justify-center items-center">
        <div>
            <a href="#round-1">Round 1</a>
            <a href="#round-2">Round 2</a>
            <a href="#round-3">Round 3</a>
            <a href="#round-4">Round 4</a>
            <a href="#round-5">Round 5</a>
          </div>
          
          <div class="flex mr-3 mt-16">
            <ol class="flex flex-1 flex-col justify-around mr-5 round">
              <li class="flex items-center m-2 p-1 leading-relaxed bg-gray-600 text-gray-300 rounded-full relative with-connector with-bye">
                <span class="w-6 h-6 ml-1 mr-1 inline-block bg-gray-300 rounded-full"></span>
                Competitor  
              </li>
            </ol>
            <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round">
              <li id="round-2" class="flex items-center m-2 p-1 leading-relaxed bg-gray-600 text-gray-300 rounded-full relative with-connector with-bye">
                <span class="w-6 h-6 ml-1 mr-1 inline-block bg-gray-300 rounded-full"></span>
                Competitor
              </li>
            </ol>
            <ol class="flex flex-1 flex-col justify-around mr-5 ml-5 round">
              <li id="round-3" class="flex items-center m-2 p-1 leading-relaxed bg-gray-600 text-gray-300 rounded-full relative with-connector with-bye">
                <span class="w-6 h-6 ml-1 mr-1 inline-block bg-gray-300 rounded-full"></span>
                Competitor
              </li>
            </ol>
          </div>
    </div>
</body>