<%- include('../partials/head.ejs') %>  
<title>Nastavit nové heslo</title>
<meta name="robots" content="noindex" />
</head>


<body>
    <%- include('../partials/home_navbar.ejs', {user: null}) %>
    <div class="w-full bg-grey-500">
        <div class="container mx-auto py-8">
            <div class="w-96 mx-auto bg-white rounded shadow">
                <% if(locals.message) { %>
                    <%- include("messages", {message: locals.message, type: "error"}); %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
<%- include('../partials/footer_absolute.ejs') %>
              