<div class="grid grid-flow-col grid-rows-4 grid-cols-4 gap-4 pr-2 pl-2 mr-2 ml-2 rounded-md mx-auto border-slate-500 border-2 w-96 h-80"> 
        <p class="col-span-1"> <%= match.player1 %> </p>
        <p class="col-span-1"> <%= match.player2 %></p>
</div>